* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.popup1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 7;
	display: none;
}

.pop_open1 {
	position: absolute;
  left: 0px;
  top: 696px;
  width: 80px;
  height: 72px;
	z-index: 5;
}

.pop_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 10;
	display: none;
}


.popup2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 7;
	display: none;
}

.pop_open2 {
	position: absolute;
  left: 60px;
  top: 696px;
  width: 60px;
  height: 72px;
	z-index: 5;
}

.pop_close2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 10;
	display: none;
}