*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 10px;
  top: 335px;
  width: 445px;
  height: 382px;
	animation: fadeOutLeft 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 90px;
  top: 168px;
  width: 83px;
  height: 83px;
	animation: fadeOutLeft 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s4 {
	position: absolute;
  left: 603px;
  top: 118px;
  width: 421px;
  height: 622px;
	animation: fadeOutRight 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s5 {
	position: absolute;
  left: 354px;
  top: 100px;
  width: 467px;
  height: 17px;
	animation: flipOutX 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 12;
}

.s6 {
	position: absolute;
  left: 356px;
  top: 99px;
  width: 281px;
  height: 17px;
	animation: flipInX 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 12;
}

.s7 {
	position: absolute;
  left: 352px;
  top: 158px;
  width: 467px;
  height: 99px;
	animation: none 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 12;
}

#s7 {
	position: absolute;
	animation: growWidth 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 10;
}

.s8 {
	position: absolute;
  left: 323px;
  top: 154px;
  width: 18px;
  height: 14px;
	animation: none 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	z-index: 12;
}

.s9 {
	position: absolute;
  left: 372px;
  top: 183px;
  width: 43px;
  height: 50px;
  animation: none 0.3s;
  animation-delay: 2s;
  animation-fill-mode: both;
	z-index: 12;
}

.s10 {
	position: absolute;
  left: 420px;
  top: 183px;
  width: 197px;
  height: 51px;
	animation: flipOutX 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 12;
}

.s11 {
  position: absolute;
  left: 417px;
  top: 183px;
  width: 42px;
  height: 50px;
  animation: fadeInRightNow 0.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 12;
}

.s12 {
	position: absolute;
  left: 620px;
  top: 183px;
  width: 185px;
  height: 50px;
  animation: slideInPlace 0.3s;
  animation-delay: 2s;
  animation-fill-mode: both;
	z-index: 12;
}

.s13 {
	position: absolute;
  left: 650px;
  top: 158px;
  width: 169px;
  height: 99px;
	animation: fadeInRightNow 0.7s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 12;
}

.s14 {
	position: absolute;
  left: 356px;
  top: 272px;
  width: 459px;
  height: 26px;
	animation: fadeInDown 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 10;
}

.s15 {
	position: absolute;
  left: 368px;
  top: 120px;
  width: 148px;
  height: 27px;
	animation: fadeInUp 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 10;
}

.s16 {
	position: absolute;
  left: 345px;
  top: 150px;
  width: 482px;
  height: 115px;
	animation: fadeInRightNow 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 12;
}

.s17 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
	animation: fadeIn 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s18 {
	position: absolute;
  left: 68px;
  top: 172px;
  width: 127px;
  height: 80px;
	animation: slideInLeft 0.7s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 14;
}

.s19 {
	position: absolute;
  left: 90px;
  top: 309px;
  width: 226px;
  height: 434px;
	animation: fadeInRight 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 14;
}

.s20 {
	position: absolute;
  left: 324px;
  top: 309px;
  width: 519px;
  height: 372px;
	animation: zoomIn 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 14;
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes growWidth {
  0% {
    opacity: 1;
  width: 467px;
  height: 99px;
  }

  100% {
    opacity: 1;
  width: 330px;
  height: 99px;
  }
}

@keyframes slideInPlace {
  0% {
    opacity: 1;
  left: 620px;
  top: 183px;
  width: 185px;
  height: 50px;
  }

  100% {
    opacity: 1;
  left: 464px;
  top: 183px;
  width: 192px;
  height: 50px;
  }
}

@keyframes fadeInRightNow {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  50%,100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes rideOn {
  0% {
    opacity: 1;
  left: -477px;
  top: 281px;
  width: 471px;
  height: 453px;
  }

  100% {
    opacity: 1;
  left: 492px;
  top: 281px;
  width: 471px;
  height: 453px;
  }
}