*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 91px;
  top: 436px;
  width: 99px;
  height: 98px;
	animation: pulseIn 2s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 304px;
  top: 514px;
  width: 99px;
  height: 98px;
	animation: pulseIn 2s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 540px;
  top: 436px;
  width: 99px;
  height: 98px;
	animation: pulseIn 2s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 809px;
  top: 514px;
  width: 99px;
  height: 98px;
	animation: pulseIn 2s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes pulseIn {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


.hit_1, .hit_2, .hit_3, .hit_4, .hit_5, .hit_6, .hit_7  {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 60px;
  top: 391px;
  width: 155px;
  height: 205px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 275px;
  top: 459px;
  width: 155px;
  height: 205px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 513px;
  top: 391px;
  width: 155px;
  height: 205px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 783px;
  top: 459px;
  width: 155px;
  height: 205px;
	z-index: 10;
}

.hit_pop5 {
	position: absolute;
  left: 659px;
  top: 435px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop6 {
	position: absolute;
  left: 805px;
  top: 586px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_pop7 {
	position: absolute;
  left: 805px;
  top: 479px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}