*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.fuseIn {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 25;
}

.wrap1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 10;
}

.fadeOut {
  	animation: fadeOut 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
}

.wrap2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 15;
}

.flashLight {
  	animation: flashLight 0.1s infinite;
	animation-delay: 0.9s;
	animation-fill-mode: both;
}

.s1_2 {
	position: absolute;
  left: 646px;
  top: 233px;
  width: 378px;
  height: 270px;
  	animation: flashLong 2s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 8;
}

@keyframes flashLong {
  0%,  100% {
    opacity: 0.7;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}

@keyframes flashLight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.s1_3 {
	position: absolute;
  left: 126px;
  top: 336px;
  width: 244px;
  height: 92px;
	z-index: 5;
}

.move {
	animation: move 1s;
	animation-delay: 0s;
	transition-timing-function: ease-in;
	animation-fill-mode: both;
}

.s1_4 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
    animation: fadeInRightLong 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

@keyframes fadeInRightLong {


  0% {
    opacity: 0;
	left: 0px;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
	left: -400px;
    -webkit-transform: none;
    transform: none;
  }
}

.s1_5 {
  position: absolute;
  width: 1024px;
  height: 768px;
  animation: revealFull 0.5s;
  animation-delay: 3.5s;
  animation-fill-mode: both;
  clip: rect(768px,0px,0px,1024px);
  display: none;
  z-index: 20;
}

.s1_6 {
  position: absolute;
  left: 364px;
  top: 603px;
  width: 316px;
  height: 28px;
  animation: pulse 1s infinite;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 20;
}


@keyframes revealFull {
  0% {
    clip: rect(768px,0px,0px,1024px);
	opacity: 0;
  }
  
  100% {
	clip: rect(0px,1024px,768px,0px);
	opacity: 1;
  }
}


@keyframes revealHorizontalRev {
  0% {
    clip: rect(0px,1024px,768px,1024px);
	opacity: 0;
  }
  
  100% {
    clip: rect(0px,1024px,768px,0px);
	opacity: 1;
  }
}


@keyframes move {
  0% {
      left: 126px;
      top: 336px;
	  width: 244px;
      height: 92px;
	  opacity: 1;
  }
  
  100% {
  left: 728px;
  top: 336px;
  width: 244px;
  height: 92px;
	opacity: 1;
  }
}