* {
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 368px;
  top: 86px;
  width: 291px;
  height: 232px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 8;
}

.s1_3 {
	position: absolute;
  left: 377px;
  top: 341px;
  width: 260px;
  height: 30px;
	animation: riseUp 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 8;
}

.s1_4 {
	position: absolute;
  left: 447px;
  top: 474px;
  width: 108px;
  height: 80px;
	animation: flashLong 1.5s infinite;
	animation-delay: 1s;
	animation-fill-mode: both;
	transition-timing-function: linear;
	z-index: 2;
}

.s1_5 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 3;
}

.s1_6 {
	position: absolute;
	width: 1024px;
	height: 768px;
	animation: revealFull 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	clip: rect(768px,0px,0px,1024px);
	display: none;
	z-index: 12;
}

.chainbreak {
	position: absolute;
	width: 1024px;
	height: 768px;
	animation: slideInUp 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 10;
}

@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}

@keyframes riseUp {
  0% {
    opacity: 0;
    transform: scale(0.5) translate3d(0, 500px, 0);
  }
  
  30% {
    opacity: 1;
    transform: scale(0.5) translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}


@keyframes revealFull {
  0% {
    clip: rect(768px,0px,0px,1024px);
	opacity: 1;
  }
  
  100% {
	clip: rect(0px,1024px,768px,0px);
	opacity: 1;
  }
}