* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.hit_1, .hit_2, .hit_3, .hit_4 {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 43px;
  top: 697px;
  width: 47px;
  height: 71px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 301px;
  top: 179px;
  width: 424px;
  height: 94px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 93px;
  top: 697px;
  width: 47px;
  height: 71px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 516px;
  top: 513px;
  width: 464px;
  height: 206px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}