*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 0px;
  top: 38px;
  width: 313px;
  height: 696px;
	animation: fadeOutLeft 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: -109px;
  top: 505px;
  width: 472px;
  height: 248px;
	animation: fadeOutLeft 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 3;
}

.s4 {
	position: absolute;
  left: 411px;
  top: 431px;
  width: 455px;
  height: 311px;
	animation: fadeOutRight 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 3;
}

.s5 {
	position: absolute;
  left: 211px;
  top: 84px;
  width: 512px;
  height: 108px;
	animation: none 0.3s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 10;
}

#s5 {
	position: absolute;
	animation: growWidth 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 10;
}

.s6 {
	position: absolute;
  left: 186px;
  top: 82px;
  width: 20px;
  height: 15px;
	animation: none 0.5s;
	animation-delay: 1.4s;
	animation-fill-mode: both;
	z-index: 12;
}

.s7 {
	position: absolute;
  left: 214px;
  top: 38px;
  width: 407px;
  height: 27px;
	animation: flipOutX 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 12;
}

.s8 {
	position: absolute;
  left: 233px;
  top: 112px;
  width: 47px;
  height: 54px;
	animation: none 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	z-index: 12;
}

.s9 {
	position: absolute;
  left: 505px;
  top: 112px;
  width: 202px;
  height: 54px;
  animation: slideInPlace 0.3s;
  animation-delay: 2s;
  animation-fill-mode: both;
	z-index: 12;
}

.s10 {
	position: absolute;
  left: 286px;
  top: 111px;
  width: 215px;
  height: 56px;
	animation: flipOutX 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 12;
}

.s11 {
  position: absolute;
  left: 280px;
  top: 112px;
  width: 46px;
  height: 54px;
  animation: fadeInRightNow 0.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 12;
}

.s12 {
	position: absolute;
	width: 1024px;
	height: 768px;
	animation: fadeIn 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s13 {
	position: absolute;
  left: 0px;
  top: 477px;
  width: 294px;
  height: 291px;
	animation: slideInLeft 0.7s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 12;
}

.s14 {
	position: absolute;
  left: 215px;
  top: 38px;
  width: 469px;
  height: 29px;
	animation: flipInX 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 12;
}

.s15 {
	position: absolute;
  left: 531px;
  top: 103px;
  width: 259px;
  height: 64px;
	animation: zoomIn 0.3s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 12;
}

.s16 {
	position: absolute;
  left: -477px;
  top: 281px;
  width: 471px;
  height: 453px;
	animation: rideOn 2s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 15;
}

.s17 {
	position: absolute;
  left: 205px;
  top: 205px;
  width: 587px;
  height: 18px;
	animation: fadeInUp 0.7s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s18 {
	position: absolute;
  left: 142px;
  top: 271px;
  width: 373px;
  height: 299px;
	animation: zoomIn 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 14;
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes growWidth {
  0% {
    opacity: 1;
    width: 512px;
	height: 108px;
  }

  100% {
    opacity: 1;
    width: 602px;
	height: 108px;
  }
}

@keyframes slideInPlace {
  0% {
    opacity: 1;
  left: 505px;
  top: 112px;
  width: 202px;
  height: 54px;
  }

  100% {
    opacity: 1;
  left: 328px;
  top: 112px;
  width: 201px;
  height: 54px;
  }
}

@keyframes fadeInRightNow {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  50%,100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes rideOn {
  0% {
    opacity: 1;
  left: -477px;
  top: 281px;
  width: 471px;
  height: 453px;
  }

  100% {
    opacity: 1;
  left: 492px;
  top: 281px;
  width: 471px;
  height: 453px;
  }
}