* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.pin {
	position: absolute;
  left: 603px;
  top: 688px;
  width: 46px;
  height: 36px;
	animation: flash 1s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 2;
}

.vid {
	position: absolute;
	width: 1080px;
	height: 810px;
	background: #000;
	opacity: 0.8;
	text-align: center;
	line-height: 100px;
	color: #fff;
	display: none;
	z-index: 25;
}

#myVideo {
	position: absolute;	
	transform: translate(-50%, -50%); /*center video*/
	top: 50%; /*center video*/
	left: 50%; /*center video*/
	width: 985px;
	height: 554px;
	display: none;	
	border: 2px solid white;
	border-radius: 20px;
	z-index: 30;
}

.kol  {
  position: absolute;
  left: 431px;
  top: 608px;
  width: 238px;
  height: 186px;
  animation: none 1s infinite;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 20;
}

.closekol {
	position: absolute;
	width: 1080px;
	height: 300px;
	display: none;
	z-index: 100;
}

.takeCover {
	position: absolute;
  left: 921px;
  top: 689px;
  width: 45px;
  height: 121px;
	z-index: 10;
}

.hit_1, .hit_2, .hit_3, .hit_4, .hit_5, .hit_6, .hit_7  {
  position: absolute;
  width: 1080px;
  height: 810px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 1017px;
  top: 689px;
  width: 45px;
  height: 121px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 969px;
  top: 689px;
  width: 45px;
  height: 121px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 368px;
  top: 434px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 513px;
  top: 503px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop5 {
	position: absolute;
  left: 659px;
  top: 435px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop6 {
	position: absolute;
  left: 805px;
  top: 586px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_pop7 {
	position: absolute;
  left: 805px;
  top: 479px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	display: none;
	z-index: 20;
}